@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
    font-family: 'Do Hyeon', sans-serif;

}

div{
    border: 1px solid black;
    height: 200px;
    width:  200px;
    text-align: center;
    margin: 2%;
    padding: 2%;
    display: inline-block;
}

img{
    height: 70%;
}

div:hover {
    background-color:lightgreen
}